<header>
  <div class="inner">
    <a href="{{ '/' | relative_url }}"><h1>{{ site.title | default: site.github.repository_name }}</h1></a>
    <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    
    <nav style="margin-top: 20px;">
      <a href="{{ '/' | relative_url }}" style="color: #fff; margin-right: 20px; font-weight: bold;">Home</a>
      <a href="{{ '/about' | relative_url }}" style="color: #fff; margin-right: 20px; font-weight: bold;">About</a>
      <a href="{{ '/books' | relative_url }}" style="color: #fff; font-weight: bold;">Books</a>
    </nav>
  </div>
</header>
